{% load staticfiles %}
{% load admin_urls %}

<html>

    {% if user.is_authenticated %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NMT Residential Life Assistant</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'form.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css">
    <div class="page-header-yes">
        <h1><a href="/" style="text-decoration:none; color: #ffffff">NMT Residential Life Assistant</a></h1>
    </div>    
    </head>

    <body>
    <div class="content">
    <h2 class="sub-header">{% block title %}{% endblock %}</h2>
    <div class="content container">
        <div class="row">
            <div class="col-sm-3 sidebar" style="top: 140px; width: 200px;">
              <ul class="nav nav-sidebar">
                <li class="active"><a href="/">Dashboard <span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"></i> Received Forms <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/room_entry_requests">Room Entry Requests</a></li>
                    <li><a href="/program_packets">Program Packets</a></li>
                    <li><a href="/safety_inspections">Safety Inspections</a></li>
                    <li><a href="/fire_alarms">Fire Alarms</a></li>
                </ul>
            </li>
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"></i> Residence Halls <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/halls/1">West Hall</a></li>
                    <li><a href="/halls/2">ALtamirano Apartments</a></li>
                    <li><a href="/halls/3">Driscoll</a></li>
                    <li><a href="/halls/4">Mountain Springs</a></li>
                    <li><a href="/halls/5">Baca</a></li>
                    <li><a href="/halls/6">South Hall</a></li>
                    <li><a href="/halls/7">Torres</a></li>
                    <li><a href="/halls/8">Presidents</a></li>
                </ul>
            </li>
            <li><a href="/ra_list">RAs</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/admin">Admin Management</a></li>
            <li><a href="{% url 'logout' %}?next=/logged_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
        </div>
            {% block content %}
            {% endblock %}
            </div>
        </div>
        </div>
    </div>
    </body>

    {% else %}
    <p>You must be logged in to see this page.</p>
    <a href="/login">Click here to login.</a>

    {% endif %}

</html>