{% extends 'rapp/base.html' %}
{% block title %}Fire Alarm Reports{% endblock %}

{% block content %}
<div class="table-responsive">
 <table class="table table-striped" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>Occurence Date</th>   
            <th>Occurence Time</th>   
            <th>Hall</th>
            <th>Specific Location</th>
            <th>Alarm Cause</th>
            <th>RA</th>
            <th>Form ID</th>
            <th>View Form</th>
        </tr>
    </thead>
    <tbody>
        {% for form in forms %}
        <tr data-toggle="collapse" data-target="{{ form.id }}"" class="accordion-toggle">
            <td>{{ form.date|date:"M d, Y" }}</td>
            <td>{{ form.occurence_time }}</td>
            <td>{{ form.hall }}</td>
            <td>{{ form.specific_location }}</td>
            <td>{{ form.get_cause_display }}</td>
            <td>{{ form.author }}</td>
            <td>{{ form.id }}</td>
            <td><button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#{{ form.id }}">View Form Details</td>
        </tr>
        <tr>
            <td colspan="7" class="hiddenRow"><div id="{{ form.id }}" class="accordian-body collapse">
            <blockquote>
                <b>Fire Explanation: </b> {{ form.fire_explanation }}<br>
                <b>Other RAs Present: </b> {{ form.other_ras }}<br>
                <b>Additional Notes: </b> {{ form.notes }}<br>
                <a href="{% url 'admin:rapp_firealarm_change' form.id %}">Edit Info</a>
            </blockquote></div></td>
        </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}