{% extends 'rapp/base.html' %}
{% block title %}Program Packets{% endblock %}

{% block content %}
<div class="table-responsive">
 <table class="table table-striped" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>Program Title</th>   
            <th>Resident Advisor</th>
            <th>Residence Hall</th>
            <th>Program Date</th>
            <th>Program Time</th>
            <th>Coordinator Approved</th>
            <th>Proposed Cost</th>
            <th>View Form Details</th>
        </tr>
    </thead>
    <tbody>
        {% for form in forms %}
        <tr data-toggle="collapse" data-target="{{ form.id }}"" class="accordion-toggle">
            <td>{{ form.program_title }}</td>
            <td>{{ form.author }}</td>
            <td>{{ form.hall }}</td>
            <td>{{ form.program_date|date:"M d, Y" }}</td>
            <td>{{ form.program_time }}</td>
            <td>{{ form.coordinator_approval }}</td>
            <td>${{ form.proposed_cost }}</td>
            <td><button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#{{ form.id }}">View Form Details</td>
        </tr>
        <tr>
            <td colspan="7" class="hiddenRow"><div id="{{ form.id }}" class="accordian-body collapse">
            <blockquote>
                <b>First Choice Location: </b> {{ form.location1 }} &ensp;&ensp;&ensp; Needs Reservation: {{ form.space_need_reservation1 }}; Reservation Made: {{ form.reservation_made1 }}
                <br><b>Second Choice Location: </b> {{ form.location2 }} &ensp;&ensp;&ensp; Needs Reservation: {{ form.space_need_reservation2 }}; Reservation Made: {{ form.reservation_made2 }}
                <br>
                <b>Target Audience: </b> {{ form.target_audience }}
                <br><b>Advertising: </b> {{ form.advertising }} 
                <br><b>Program Description: </b> {{ form.program_description }}
                <br><b>Supplies: </b> {{ form.supplies }}
                <br><b>Signed by: </b> {{ form.coordinator_sig }} on {{ form.sig_date }}
                <br><a href="{% url 'admin:rapp_programpacket_change' form.id %}">Edit Information</a>
            </blockquote></div></td>
        </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}