{% extends 'rapp/base.html' %}

{% block title %}RA List{% endblock %}

{% block content %}
<div class="table-responsive">
 <table class="table table-striped" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>Name</th>   
            <th>Hall</th>
            <th>Room #</th>
            <th>Email</th>
            <th>View/Edit Additional Info</th>
            <th>Student ID</th>
        </tr>
    </thead>
    <tbody>
        {% for ra in ras %}
        <tr data-toggle="collapse" data-target="{{ ra.student_info.id }}"" class="accordion-toggle">
            <td>{{ ra }}</td>
            <td>{{ ra.hall }}</td>
            <td>{{ ra.room_number }}</td>
            <td>{{ ra.student_email }}</td>
            <td>{{ ra.student_id }}</td>
            <td><button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#{{ ra.student_id }}">View Additional Info</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="7" class="hiddenRow"><div id="{{ ra.student_id }}" class="accordian-body collapse">
            <blockquote>
                <b>Date of Birth: </b> {{ ra.date_of_birth }} <br>
                <b>Address: </b> {{ ra.home_addr }}<br>
                <b>Emergency Contact: </b> {{ ra.emergency_contact }}<br>
                <b>Contact Relationship: </b> {{ ra.contact_relationship }}<br>
                <b>Emergency Contact Phone Number: </b> {{ ra.emergency_contact_phone }}<br>
                <a href="{% url 'admin:rapp_ra_change' ra.student_id %}">Edit Student Info</a>
            </blockquote></div></td>
        </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}