{% extends 'rapp/base.html' %}

{% block title %}Resident Profile{% endblock %}

{% block content %}
<div class="col-md-4">
<h4>{{ student }}</h4>
{% load static %}
<img src="{% static 'ackchuyually.png' %}" width="300;" height="300;" alt="My image"/>
</div>
<div class="col-md-4">
<h4>Information</h4>
<p><b>Date of Birth:</b> {{ student.date_of_birth }}</p>
<p><b>ID:</b> {{student.id }}</p>
<p><b>Residence Hall:</b> {{ student.status }}</p>
<p><b>Room:</b> {{ student.room_number }}</p>
</div>
{% endblock %}